Abril15-war/src/conf/xml-resources/web-service-references/FacturaWS/wsdl/pcjc_8080/FacturaWS/FacturaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.cocacola.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.cocacola.cl/">

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="insertar" type="tns:insertar"/>

<xs:element name="insertarResponse" type="tns:insertarResponse"/>

<xs:element name="listar" type="tns:listar"/>

<xs:element name="listarResponse" type="tns:listarResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarResponse">
<xs:sequence>
<xs:element name="return" type="tns:factura" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factura">
<xs:sequence>
<xs:element name="direccionCliente" type="xs:string" minOccurs="0"/>
<xs:element name="facturaDetalle" type="tns:facturaDetalle" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="idFactura" type="xs:int"/>
<xs:element name="nombreCliente" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="facturaDetalle">
<xs:sequence>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="idFacturaDetalle" type="xs:int"/>
<xs:element name="precioUnitario" type="xs:int"/>
<xs:element name="productoFactura" type="tns:productoFactura" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productoFactura">
<xs:sequence>
<xs:element name="idProductoFactura" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertar">
<xs:sequence>
<xs:element name="arg0" type="tns:factura" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>