Abril15-war/src/conf/xml-resources/web-service-references/FacturaWS/wsdl/pcjc_8080/FacturaWS/FacturaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.cocacola.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.cocacola.cl/" name="FacturaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.cocacola.cl/" schemaLocation="http://pcjc:8080/FacturaWS/FacturaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="listar">
<part name="parameters" element="tns:listar"/>
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse"/>
</message>
<message name="insertar">
<part name="parameters" element="tns:insertar"/>
</message>
<message name="insertarResponse">
<part name="parameters" element="tns:insertarResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="FacturaWS">
<operation name="listar">
<input wsam:Action="http://webservice.cocacola.cl/FacturaWS/listarRequest" message="tns:listar"/>
<output wsam:Action="http://webservice.cocacola.cl/FacturaWS/listarResponse" message="tns:listarResponse"/>
</operation>
<operation name="insertar">
<input wsam:Action="http://webservice.cocacola.cl/FacturaWS/insertarRequest" message="tns:insertar"/>
<output wsam:Action="http://webservice.cocacola.cl/FacturaWS/insertarResponse" message="tns:insertarResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webservice.cocacola.cl/FacturaWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservice.cocacola.cl/FacturaWS/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="FacturaWSPortBinding" type="tns:FacturaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FacturaWS">
<port name="FacturaWSPort" binding="tns:FacturaWSPortBinding">
<soap:address location="http://pcjc:8080/FacturaWS/FacturaWS"/>
</port>
</service>
</definitions>